/* Container da foto (Moldura) */
.direita {
  width: 140px; /* Largura ideal para a bandeira na tela */
  height: 100px; /* Altura ideal */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  background-color: #fafafa;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

/* Força a imagem a preencher a moldura mantendo a proporção */
.direita img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Força a bandeira a se ajustar perfeitamente ao retângulo */
  display: none; /* Controlado pelo JS */
}
